<div class="page-header">
<h1>No sé la parada <small>Buscar por intersección de calles.</small></h1>
</div>

<div class="row">
  <div class="span16">
		<% form_tag(arrival_find_intersection_path, :method => 'get') do %>
			<fieldset>
				<legend>Paso 2 de 3</legend>
				<div class="clearfix">
					<label for="street"> Calle </label>
						<div class ="input">
							<%= select("street", "id", @streets.collect {|street| [street['desc'],street['id']]}, {:class => 'medium'} ) %>
							<span class="help-block">Seleccioná la primera calle de la intersección.</span>
						</div>
					</div>				
				<%= hidden_field_tag "line", params[:line] %>
			</fieldset>

			<div class="actions">
				<%= submit_tag "Buscar", :class =>"btn primary" %>
			</div>
		<% end %>
	  </div>
</div>