<div class="six columns alpha">
	<% form_tag(arrival_find_street_path, :method => 'get') do %>
		<h4>Paso 1 de 3</h4>
		<p> Seleccioná la línea cuya parada deseás conocer.</p>
		<fieldset>
			<label for="line"> Línea </label>
			<%= select_tag "line", options_from_collection_for_select(@buses, "line_id", "name") %> 
		</fieldset>
		
		<%= submit_tag "Buscar" %>
	<% end %>
</div>