<div class="six columns alpha">
	<% form_tag(arrival_show_path, :method => 'get') do %>
	<br />
		<fieldset>
			<label for="line"> Línea </label>
			<%= select_tag "line", options_from_collection_for_select(@buses, "value", "name") %> 
		</fieldset>

		<fieldset>
			<label for="stop"> Parada </label>
			<%= number_field_tag "stop" %> <br />
		</fieldset>
		
		<%= submit_tag "Consultar" %>
	<% end %>
</div>