<div class="page-header">
<h1>No sé la parada <small>Buscar por intersección de calles.</small></h1>
</div>

<div class="row">
  <div class="span14">
		<% form_tag(arrival_find_street_path, :method => 'get', :class=> "form-stacked") do %>
			<fieldset>
				<legend>Paso 1 de 3</legend>
				<div class="clearfix">
					<label for="line"> Línea </label>
					<div class ="input">
						<%= select_tag "line", options_from_collection_for_select(@buses, "line_id", "name"), :class => "medium" %> 
						<span class="help-block">Seleccioná la línea cuya parada deseás conocer.</span>
					</div>
				</div>

				<div class="actions">
					<%= submit_tag "Buscar", :class =>"btn primary" %>
				</div>
			</fieldset>
		<% end %>
  </div>
</div>