<div class="six columns alpha">
	<p id="notice"><%= @llegada %> </p> <br />
  <% if user_signed_in? %>
    <% unless favorite_is_present%>
    <%= link_to "Agregar a favoritos", Favorite.create(:bus_id => Bus.find_by_value(params[:line]), :stop => params[:stop], :user => current_user) %>
    <% end %>
  <% end %>
	<%= link_to "Volver", :back %>
	<br />
</div>
