<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicitó restablecer tu contraseña, y podés hacerlo siguiente el enlace de aquí abajo.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicitaste esto, por favor ignora este email.</p>
<p>Tu contraseña no cambiará hasta que visites el enlace anterior.</p>
